@import "normalize";
@import "settings";
@import "mixins";
@import "function";

/*  $TAG HTML
---------------------------------------------- */
body{
  /* font */
  font-family: $font;
  font-size: $base-font-size;
  line-height: $base-line-height;
}
a{text-decoration: none; color: inherit;}
ul{margin: 0; padding: 0;}

h1{margin: 0;}
