/*  $FONT
-------------------------------------------------- */
$font : arial, sans-serif;
$base-font-size : 16px!default;
$base-line-height: 20px!default;

/*  $COLOR
-------------------------------------------------- */
$color-light: #fff;
$color-primary: rgb(23, 140, 190);

/*  $MEDIA_QUERIES
-------------------------------------------------- */
$young: 640px;
$teenage: 960px;
$adult: 1200px;

/*  $MENU
-------------------------------------------------- */
$menu-young: 250px!default;
