.navigation{
  transform: translateX($menu-young * -1);
  transition: 0.3s;
  @media screen and (min-width: $young + 1px){
    transform: translateX(0);
  }
}


.menu{
  @media screen and (max-width: $young){
    width: $menu-young;
    text-align: center;
  }
  a{
    display: block;
    line-height: 48px;
    background-color: #fff;
    background-color: darken($color-primary, 10%);
    border-bottom: 1px solid $color-primary;
    @media screen and (min-width: $young + 1px){
      display: inline-block;
      padding: 0 15px;
      line-height: 50px;
      background-color: transparent;
      border-bottom: none;
    }
  }

}

.with-sidebar{

}


/*  $BURGER
----------------------------------------------------------------------- */
@media screen and (max-width: $young){
  .header-burger{
    position: relative;
    float: left;
    display: block;
    width: 50px;
    height: 50px;
    //background-color: rgba(#fff, 0.5);
    //cursor: pointer;
    &:after{
      content: '';
      position: absolute;
      display: block;
      left: 10px;
      top: 5px;
      width: $base-font-size * 1.5;
      height: 0px;
      box-shadow: 0px 10px 0px 1px $color-light, 0px 20px 0px 1px $color-light, 0px 30px 0px 1px $color-light;
    }
  }
}
