header{
  height: 50px;
  color: $color-light;
  background-color: rgb(23, 140, 190);
}

.header-logo{
  display: inline-block;
  float: left;
  margin: 0 25px;
  width: 100px;
  height: 50px;
  font-size: $base-font-size * 1.75;
  font-weight: bold;
  line-height: 50px;
  vertical-align: middle;
  background-color: $color-primary;
}
